<section class="basket-step1">
    <div class="container">
        <a href="#" class="title-wrap"><h1 class="title">Корзина</h1></a>
    </div>
    <div class="goods-in-basket">
        <div class="container">
            <div class="mob-goods-card">
                <img src="img/mobgoodspic.png" alt="">
                <div class="name-count-wrap">
                <div class="goods-name">Плед флісовий Underprice Квітка 150x180 см
                </div>
                <div class="quantity-block">
                    <button class="quantity-arrow-minus"> &#9866; </button>
                    <input class="quantity-num" type="number" value="1" />
                    <button class="quantity-arrow-plus"> + </button>
                </div>
                </div>
                <div class="mob-goods-card-price">124.98 грн <span>шт</span></div>
            </div>
        </div>
    </div>
    <div class="container"><div class="goods-card-total">
        <div class="goods-card-total-text">Сумма замовлення</div>
        <div class="goods-card-total-price"><span>124.98</span> <span>грн.</span><span>шт</span></div>
    </div>
        <div class="order-button-wrap">
    <a class="order-button">Оформити замовлення</a></div>
    </div>
</section>