<div class="new-customer-form-wrap">
    <form id="new-customer-form">
        <div class="new-customer-form-item">
            <label class="new-customer-form-label" for="new-customer-form-email"><span
                    class="red-notation-mark">*</span>Електронна пошта (email)</label>
            <div class="form-input-box"><input type="text" name="new-customer-form-email" id="new-customer-form-email">
            </div>
        </div>
        <div class="new-customer-form-item">
            <label class="new-customer-form-label" for="new-customer-form-pass"><span
                    class="red-notation-mark">*</span>Пароль</label>
            <div class="form-input-box"><input type="text" name="new-customer-form-pass" id="new-customer-form-pass">
            </div>
        </div>
        <div class="new-customer-form-item">
            <a href="#" class="forgot-pass">Забули пароль?</a>
            <button type="submit" class="btn-enter">Увійти</button>
        </div>
    </form>
    <div class="or-divider">
        <div class="divider-line"></div>
        <div class="divider-circle">або</div>
    </div>
    <div class="socials-sing-in"><div class="socials-title">Ви можете увійти через
        соціальні мережі:</div>
    <a href="#" class="fb-btn"><div><span class="socials-icon fb-icon"></span><span>Facebook</span></div></a>
        <a href="#" class="g-plus-btn"><div><span class="g-plus-icon socials-icon"></span><span>Google+</span></div></a>
    </div>
</div>