<div class="basket-goods-card">
    <div class="basket-goods-card-wrap">
<div class="goods-card-title">
    Товари в кошику
</div>
    <div class="goods-card-description">
        <div class="delete-icon-wrap"><div class = "delete-icon">&#10006;</div></div>
        <img src="img/goodspic.png" alt="">
        <div class="goods-name">Комплект постільної
            білизни двоспальний
            Ibodo Аріль</div>
        <div class="quantity-block">
            <button class="quantity-arrow-minus"> &#9866; </button>
            <input class="quantity-num" type="number" value="1" />
            <button class="quantity-arrow-plus"> + </button>
        </div>
        <div class="basket-price">1039.92 грн <span class="basket-pieces-text">шт</span></div>
    </div>
    <div class="goods-card-delivery">
        <div class="courier-delivery-text">Доставка кур'єром</div>
        <div class="courier-delivery-price">вартість</div>
            <a href="#" class="delivery-info">Дізнатися більше про доставку</a>
    </div>
    <div class="total-pay">
        <div class="total-pay-text">Сумма до сплати:</div>
        <div class="total-pay-price">1039.92 грн</div>
    </div>
    </div>
    <div class="bonuses">
        <label for="bonus-input" class="bonus-label">Номер бонусної карти:</label>
        <input type="text" class = "bonus-input" id="bonus-input">
        <button type="submit" class="btn-submit">підтвердити</button>
    </div>
</div>