<section class="basket-step2 basket-step3">
    <h1 class="title">Оформлення замовлення</h1>
    <form id="basket-step2-form" class="basket-step2-form">
        <div class="container">
            <div class="current-step-block">
                <div class="step-item">
                    <div class="step-mark"></div>
                    <div class="step-title">Корзина</div>
                </div>
                <div class="step-item">
                    <div class="step-mark"></div>
                    <div class="step-title">Дані про покупця</div>
                </div>
                <div class="step-item">
                    <div class="step-mark"></div>
                    <div class="step-title">Доставка/оплата</div>
                </div>
            </div>
        </div>
        <div class="line-throw"></div>
        <div class="container">
            <a href="javascript: void(0)" class="mob-enter-shop">Увійти в магазин</a>
            <div class="mob-new-customer">Новий покупець</div>
            <div class="mob-delivery-pay-wrap">
                <div class="mob-form-select-box new-customer-input-wrap">
                    <input type="text" class="mob-new-customer-input" placeholder="Ім'я та прізвище">
                </div>
                <div class="custom-select mob-form-select-box">
                    <select type="text" form="basket-step2-form">
                        <option value="choose">Оберіть своє місто</option>
                        <option value="city-kiev">Киев</option>
                        <option value="city-kharkov">Харьков</option>
                    </select>
                </div>
                <div class="mob-form-select-box new-customer-input-wrap">
                    <input type="text" class="mob-new-customer-input" placeholder="Телефон">
                </div>
                <div class="mob-form-select-box new-customer-input-wrap">
                    <input type="text" class="mob-new-customer-input" placeholder="E-mail" id="mob-email" name="mob-email">
                </div>
                <label for="mob-email" class="mob-tracking">Для відстеження статусу виповненого замовлення</label>
            </div>
        </div>
        <button class="mob-submit">Доставка та оплата <span>&#8250;</span></button>
    </form>
    <div class="line-throw"></div>
</section>