//$width-max: '(min-width: 1000px)';
//$width-mid: '(min-width: 940px)';
//$width-sm: '(min-width: 768px)';


$ubuntu: 'Ubuntu';
$ubuntul: 'Ubuntu Light';
$ubuntub: 'Ubuntu Bold';

$bggray: #ebebf1;
$fontgray: #858585;