@import 'settings';
@import 'fonts';
@import 'mixins';
@import 'reset';
@import 'customselect';
@import 'customcheckbox';

.container {
  max-width: 1000px;
  margin: 0 auto;
}
.basket{
  width: 50%;
  font-family: $ubuntu;
}

@import "../../components/basketsinged/_basketsinged.scss";
@import "../../components/basketunsinged/_basketunsinged.scss";