@import 'settings';
@import 'fonts';
@import 'mixins';
@import 'customcheckbox';
@import 'custominputnumber';

.basket{
  @import 'reset';
  @import 'customselect';
  font-size: 0;
  font-family: $ubuntu;
  .container {
    max-width: 940px;
    margin: 0 auto;
  }
}
@import "../../components/mobilebasketstep1/_mobilebasketstep1.scss";
@import "../../components/mobilebasketstep2/_mobilebasketstep2.scss";
@import "../../components/mobilebasketstep3/_mobilebasketstep3.scss";